.InBasic .LoginImg {
    background-color: darkseagreen;
    width: 700px;
    height:900px;
    float: left;
    border-top-left-radius : 30px;
    border-bottom-left-radius : 30px;
    overflow: hidden;
}

.InBasic .LoginContent {
    width: 800px;
    height:900px;
    float: right;
    border-top-right-radius : 30px;
    border-bottom-right-radius : 30px;
}

.ContentCenter {
    display : flex;
    justify-content: center;
    align-items : center;
    text-align: center;
}

.LoginContent .Login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
}

.LoginSet {
    display: flex;
    width: 100%;
    height: 200px;
}

.LoginWidth {
    width: 400px;
    height: 56px;
}

.SwitchColor {
    margin: 5px 20px;
    float: right;
}
