.OutBasic {
    background-color: #f47725;
    width : 100%;
    height : 969px;
    display : flex;
    justify-content: center;
    align-items : center;
}

.InBasic {
    width:1500px;
    height:900px;
    position:absolute;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
